@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  /* Color scheme */
  --color-light-purple: #963cff;
  --color-dark-purple: #19001b;
  --color-purple: #37003c;
  --color-light-green: #00ff87;
  --color-green: #02884e;

  --background: radial-gradient(
    circle,
    rgba(100, 36, 175, 1) 0%,
    rgba(55, 0, 60, 1) 100%
  );

  /* Every layout */
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: var(--background);
  background-repeat: no-repeat;
  background-color: var(--color-purple);
}
body {
  /* height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: var(--color-light-green);
}

h4 {
  font-weight: 700;
  line-height: 1.4;
}

p {
  color: white;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* background-color: #4b6cb7; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 300ms ease-in-out;
}

.dragging {
  background-color: #182848;
  transform: scale(1.06) rotate(3deg);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
